body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f9;
}

/* LAYOUT */

.layout{
    display:flex;
}

/* SIDEBAR */

.sidebar{
    width:220px;
    background:#1f2d3d;
    color:white;
    min-height:100vh;
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px 20px;
}

.sidebar a:hover{
    background:#32465a;
}

/* CONTENIDO */

.main{
    flex:1;
    padding:25px;
}

/* HEADER */

.header{
    background:white;
    padding:15px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* DASHBOARD */

.dashboard{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.card{
    flex:1;
    min-width:200px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    text-align:center;
}

.card h3{
    margin:0;
    color:#777;
    font-size:14px;
}

.card p{
    font-size:32px;
    color:#0072CE;
    margin-top:10px;
}

/* FORMULARIOS */

.form-box{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

input,select,textarea{
    padding:8px;
    margin-top:5px;
    margin-bottom:12px;
    width:100%;
}

/* BOTONES */

button{
    background:#0072CE;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005aa3;
}

/* GRAFICO */

.chart-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    width:70%;
    margin:auto;
}